.lectures-filter {
  padding-top: 10px;
  user-select: none;
}

.lectures-filter__toggle {
  position: relative;
  top: 1px;
  margin-left: 20px;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  padding: 10px 25px 10px 10px;
  display: inline-block;
  background: #fff url('/assets/img/icons/dark-grey-disclosure-arrow-down.png')
    no-repeat 88px center;
  cursor: pointer;
}

.lectures-filter__toggle:not(.active):hover {
  background-color: #f8f9ff;
}

.lectures-filter__toggle.active {
  background-image: url('/assets/img/icons/light-grey-disclosure-arrow-down.png');
  color: #cccccc;
}

.lectures-filter__content {
  height: 0;
  overflow: hidden;
  transition: all linear .2s;
  text-align: center;
}

.lectures-filter__toggle.active + .lectures-filter__content {
  height: auto;
  padding: 10px 30px;
  border-top: 1px solid #d8d8d8;
}

.lectures-filter__date,
.lectures-filter__school,
.lectures-filter__lector {
  padding-left: 5px;
  padding-right: 5px;
}
.lectures-filter__school,
.lectures-filter__lector {
  margin-bottom: 10px;
}
.lectures-filter__date {
  margin-bottom: 20px;
}

.lectures-filter__school-title,
.lectures-filter__lector-title {
  font-size: 22px;
  font-family: inherit;
  margin-bottom: 10px;
  color: #000;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #d8d8d8;
  transition: all .3s;
}

.lectures-filter__date-input:hover,
.lectures-filter__school-title:hover,
.lectures-filter__lector-title:hover {
  background-color: #f8f9ff;
  color: #2c3e50;
}
.lectures-filter__school-title.active,
.lectures-filter__lector-title.active {
  background-color: #f8f9ff;
  color: #7f8c8d;
}

.lectures-filter__school-title.active + .lectures-filter__school-content,
.lectures-filter__lector-title.active + .lectures-filter__lector-content {
  height: 200px;
  opacity: 1;
}

.lectures-filter__school-content,
.lectures-filter__lector-content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all .4s;
  overflow-y: auto;
}

.lectures-filter__date-input {
  display: inline-block;
  font-family: inherit;
  color: #000;
  cursor: pointer;
  padding: 7px 10px 10px;
  border: 1px solid #d8d8d8;
  font-size: 25px;
  transition: all .3s;
  width: 100%;
}

.lectures-filter__school-item,
.lectures-filter__lector-item {
  color: #7f8c8d;
  cursor: pointer;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 15px;
}

.lectures-filter__school-item.active,
.lectures-filter__lector-item.active {
  color: #d51902;
  font-weight: bold;
}

.lectures-filter__school-item:hover,
.lectures-filter__lector-item:hover {
  color: #d51902;
}

.lectures-filter__date-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (min-width: 480px) {
  .lectures-filter__date-input,
  .lectures-filter__school-title,
  .lectures-filter__lector-title {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .lectures-filter__date-title {
    display: none;
  }

  .lectures-filter__school-item,
  .lectures-filter__lector-item {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .lectures-filter__content {
    display: flex;
    justify-content: space-around;
  }

  .lectures-filter__date-input,
  .lectures-filter__school-title,
  .lectures-filter__lector-title {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .lectures-filter__school-item,
  .lectures-filter__lector-item {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 7px;
  }
}
