.main__lectures-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-top: 1px solid #d8d8d8;
}

.main__lectures-list:after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 992px) {
  .main__lectures-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}